<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>controller.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeRole</servlet-name>
        <servlet-class>controller.RoleManageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>forgotpassword</servlet-name>
        <jsp-file>/forgotpassword.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>forgotpassword</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>questions</servlet-name>
        <jsp-file>/questions.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>questions</servlet-name>
        <url-pattern>/questions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetQuestions</servlet-name>
        <servlet-class>controller.GetQuestions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetQuestions</servlet-name>
        <url-pattern>/GetQuestions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AnswerQuestions</servlet-name>
        <servlet-class>controller.AnswerQuestions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnswerQuestions</servlet-name>
        <url-pattern>/AnswerQuestions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>controller.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthenticationController</servlet-name>
        <servlet-class>controller.AuthenticationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/AuthenticationController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckEmailAvailability</servlet-name>
        <servlet-class>controller.CheckEmailAvailability</servlet-class>
    </servlet>      
    <servlet-mapping>
        <servlet-name>CheckEmailAvailability</servlet-name>
        <url-pattern>/CheckEmailAvailability</url-pattern>
    </servlet-mapping>   
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>controller.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RoleManageServlet</servlet-name>
        <servlet-class>controller.RoleManageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoleManageServlet</servlet-name>
        <url-pattern>/RoleManageServlet</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>Hostile</servlet-name>
        <servlet-class>controller.Hostile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hostile</servlet-name>
        <url-pattern>/Hostile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            login.jsp
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>error</servlet-name>
        <jsp-file>/error.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
        <error-page>
        <error-code>404</error-code> 
        <location>/error</location>
    </error-page>
</web-app>
